*.log
*.zip
.DS_Store
.DS_Store
.Dockerfile*
.docker*
.dockerignore
.env
.eslintcache
.flowconfig
.git
.gitignore
.idea
.pnp.*
.pnp.js
.vscode
Dockerfile
build
coverage
dist
docker-compose*
node_modules
npm-debug.log
package-lock.json
