.chessBoard {
  display: grid;
  grid-template-columns: repeat(8, 100px);
}

.chessBoardBorder {
  border-radius: 20px;
  border: 13px solid #5d4037;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.5);
}

.chessBoardContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}


