.titleHeader {
  margin: 5px;
  padding: 0px;
  font-size: 50px;
  font-family: "Papyrus", fantasy;
  background: linear-gradient(to bottom, #302212, #8f895e);
  background-clip: text;
  color: transparent;
  text-align: center;
  flex-grow: 8;
}
